<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TalkHome.Log.Properties.Zabbix" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TalkHome.Log.Properties.Zabbix>
            <setting name="Host" serializeAs="String">
                <value>TalkHome</value>
            </setting>
            <setting name="DebugExePath" serializeAs="String">
                <value>zabbix\zabbix_sender.exe</value>
            </setting>
            <setting name="Ip" serializeAs="String">
                <value>172.24.0.224</value>
            </setting>
            <setting name="ReleaseExePath" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="CriticalSeverity" serializeAs="String">
                <value>critical.severity</value>
            </setting>
            <setting name="InfoSeverity" serializeAs="String">
                <value>info.severity</value>
            </setting>
            <setting name="CorruptedAppTopUpUrl" serializeAs="String">
                <value>App top up page request had a corrupted Url</value>
            </setting>
            <setting name="AppUserNotFound" serializeAs="String">
                <value>App  Msisdn account not found</value>
            </setting>
            <setting name="AppUserNotVerifiedAtCheckout" serializeAs="String">
                <value>App Msisdn account not found at checkout</value>
            </setting>
            <setting name="CorruptedAddBundleUrl" serializeAs="String">
                <value>App bundle purchase request had a corrupted Url</value>
            </setting>
            <setting name="AppBundleNotFound" serializeAs="String">
                <value>App bundle not found at checkout</value>
            </setting>
            <setting name="EmptyAppBasket" serializeAs="String">
                <value>App empty basket at checkout</value>
            </setting>
            <setting name="GetMiPayCustomerFailed" serializeAs="String">
                <value>Get customer call failed</value>
            </setting>
            <setting name="WebApiLoginRequestFailed" serializeAs="String">
                <value>Login endpoint failed to respond</value>
            </setting>
            <setting name="SignatureVerificationException" serializeAs="String">
                <value>An invalid JWT signature was detected</value>
            </setting>
            <setting name="StartPaymentFailed" serializeAs="String">
                <value>App start payment call failed</value>
            </setting>
            <setting name="RetrievePaymentFailed" serializeAs="String">
                <value>Retrieve payment call failed</value>
            </setting>
            <setting name="NumberVerificationFailed" serializeAs="String">
                <value>Number verification failed to respond</value>
            </setting>
            <setting name="MailOrderRequestFailed" serializeAs="String">
                <value>Mail order request failed to respond</value>
            </setting>
            <setting name="TransactionRecord" serializeAs="String">
                <value>transaction.record</value>
            </setting>
        </TalkHome.Log.Properties.Zabbix>
    </applicationSettings>
</configuration>