<?xml version="1.0"?>
<FileSystemProviders>
  
  <!-- Media -->
  <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
      <add key="rootPath" value="C:\TalkHomeWebsite\Media" />   
      <add key="rootUrl" value="/Media/" />
    </Parameters>
  </Provider>
   
</FileSystemProviders>
