<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TalkHome.WebServices.Properties.Creds" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.WebServices.Properties.Hosts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.WebServices.Properties.URIs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.Services.Properties.RootIds" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.Services.Properties.Zabbix" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.Services.Properties.Hosts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.Services.Properties.Creds" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.Services.Properties.URIs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.Services.Properties.Urls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.Services.Properties.ErrorCodes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.Services.Properties.WebApiErrorCodes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TalkHome.Services.Properties.Project" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TalkHome.Services.Properties.Zabbix" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TalkHome.WebServices.Properties.Creds>
            <setting name="AppApiBasicAuth" serializeAs="String">
                <value>440000000000:3302</value>
            </setting>
            <setting name="WebApiBasicAuth" serializeAs="String">
                <value>webdev:FenyCKbVsdVRQBf2</value>
            </setting>
            <setting name="AddressIoAuth" serializeAs="String">
                <value>api-key:2_Ua7jVDxk291udlLRiZ0Q5856</value>
            </setting>
            <setting name="IpInfoKey" serializeAs="String">
                <value>536fc3c409075b</value>
            </setting>
            <setting name="AppApiBasicAuthGBP" serializeAs="String">
                <value>440000000000:3302</value>
            </setting>
            <setting name="AppApiBasicAuthEUR" serializeAs="String">
                <value>3570000000000:8596</value>
            </setting>
            <setting name="AppApiBasicAuthUSD" serializeAs="String">
                <value>10000000000:8009</value>
            </setting>
        </TalkHome.WebServices.Properties.Creds>
        <TalkHome.WebServices.Properties.Hosts>
            <setting name="LabPayment" serializeAs="String">
                <value>https://api.payment.talkhome.co.uk</value>
            </setting>
            <setting name="ProdPayment" serializeAs="String">
                <value>https://api.payment.talkhome.co.uk</value>
            </setting>
            <setting name="AddressIo" serializeAs="String">
                <value>https://api.getaddress.io/find</value>
            </setting>
            <setting name="IpInfo" serializeAs="String">
                <value>https://ipinfo.io</value>
            </setting>
            <setting name="ProdAppApi" serializeAs="String">
                <value>https://api.talkhomeapp.com</value>
            </setting>
            <setting name="LabAppApi" serializeAs="String">
                <value>http://localhost:7066</value>
            </setting>
            <setting name="ProdWebApi" serializeAs="String">
                <value>http://localhost:7066</value>
            </setting>
            <setting name="LabWebApi" serializeAs="String">
                <value>http://localhost:7066</value>
            </setting>
            <setting name="LabThmApi" serializeAs="String">
                <value>http://localhost:2222</value>
            </setting>
            <setting name="ProdThmApi" serializeAs="String">
                <value>http://localhost:2222</value>
            </setting>
        </TalkHome.WebServices.Properties.Hosts>
        <TalkHome.WebServices.Properties.URIs>
            <setting name="Authenticate" serializeAs="String">
                <value>/talkhome/useraccount/login</value>
            </setting>
            <setting name="ResetPasswordRequest" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/start</value>
            </setting>
            <setting name="ResetPasswordConfirm" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/confirm</value>
            </setting>
            <setting name="NewPassword" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/change</value>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value>/rates/thm/standard/international/destinations</value>
            </setting>
            <setting name="MobileTopRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/international/top</value>
            </setting>
            <setting name="TalkHomeAppTopRates" serializeAs="String">
                <value>/rates/tha/nonuseraccount/international/top</value>
            </setting>
            <setting name="CallingCardsTopMinutes" serializeAs="String">
                <value>/rates/thcc/nonuseraccount/minutes/top</value>
            </setting>
            <setting name="CallHistoryPage" serializeAs="String">
                <value>/history/call</value>
            </setting>
            <setting name="CallHistoryTotalPages" serializeAs="String">
                <value>/history/call/totalpages</value>
            </setting>
            <setting name="AccountSummary" serializeAs="String">
                <value>/useraccount/summary</value>
            </setting>
            <setting name="SignUp" serializeAs="String">
                <value>/talkhome/useraccount/signup</value>
            </setting>
            <setting name="MailOrder" serializeAs="String">
                <value>/talkhome/sim/order/new</value>
            </setting>
            <setting name="CallingCardsMinutes" serializeAs="String">
                <value>/rates/thcc/nonuseraccount/minutes/all</value>
            </setting>
            <setting name="TalkHomeAppRates" serializeAs="String">
                <value>/rates/tha/nonuseraccount/international/all</value>
            </setting>
            <setting name="TalkHomeMobileUKRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/uk/all</value>
            </setting>
            <setting name="TalkHomeMobileInternationalRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/international/all</value>
            </setting>
            <setting name="AccountDetails" serializeAs="String">
                <value>/talkhome/useraccount/summary</value>
            </setting>
            <setting name="PaymentHistoryPage" serializeAs="String">
                <value>/history/payment</value>
            </setting>
            <setting name="PaymentHistoryTotalPages" serializeAs="String">
                <value>/history/payment/totalpages</value>
            </setting>
            <setting name="VerifySignUpEmail" serializeAs="String">
                <value>/talkhome/confirm</value>
            </setting>
            <setting name="TalkHomeMobileRoamingRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/roaming/all</value>
            </setting>
            <setting name="GetAppUserByMsisdn" serializeAs="String">
                <value>/website/in-app-details</value>
            </setting>
            <setting name="GetCustomer" serializeAs="String">
                <value>/th/merchant/getcustomer</value>
            </setting>
            <setting name="AddProduct" serializeAs="String">
                <value>/talkhome/product</value>
            </setting>
            <setting name="SaveAppUserBillingAddress" serializeAs="String">
                <value>/useraccount/address</value>
            </setting>
            <setting name="StartPayment" serializeAs="String">
                <value>/th/payment/start</value>
            </setting>
            <setting name="PaymentRetrieve" serializeAs="String">
                <value>/th/payment/retrieve</value>
            </setting>
            <setting name="OneClickCheckout" serializeAs="String">
                <value>/th/merchant/oneclick</value>
            </setting>
            <setting name="OneClickRetrieve" serializeAs="String">
                <value>/th/payment/oneclickstatus</value>
            </setting>
            <setting name="PromoSignUp" serializeAs="String">
                <value>/promotional</value>
            </setting>
            <setting name="RedeemVoucher" serializeAs="String">
                <value>/voucher/add</value>
            </setting>
            <setting name="ReedemPoints" serializeAs="String">
                <value>/redeempoints</value>
            </setting>
            <setting name="AutoRenewBundles" serializeAs="String">
                <value>/Bundle/SetBundleAutoRenewal</value>
            </setting>
            <setting name="AutoRenewTopUp" serializeAs="String">
                <value>/set/credit/autorenewal</value>
            </setting>
            <setting name="UpdateAddressHome" serializeAs="String">
                <value>/update/address/home</value>
            </setting>
            <setting name="UpdateAddressBilling" serializeAs="String">
                <value>/update/address/billing</value>
            </setting>
            <setting name="UpdateAddressShipping" serializeAs="String">
                <value>/update/address/shipping</value>
            </setting>
            <setting name="TalkHomeAppInternationalRates" serializeAs="String">
                <value>/destinations1</value>
            </setting>
            <setting name="CreditSimOrder" serializeAs="String">
                <value>/Sim/CreditSimRequest</value>
            </setting>
            <setting name="CreditSimPayment" serializeAs="String">
                <value>/Sim/CreditSimPayment</value>
            </setting>
            <setting name="CreditSimFullfilment" serializeAs="String">
                <value>/Sim/CreditSimFullfilment
</value>
            </setting>
        </TalkHome.WebServices.Properties.URIs>
        <TalkHome.Services.Properties.RootIds>
            <setting name="TalkHome" serializeAs="String">
                <value>1330</value>
            </setting>
            <setting name="TalkHomeMobile" serializeAs="String">
                <value>1343</value>
            </setting>
            <setting name="TalkHomeApp" serializeAs="String">
                <value>1344</value>
            </setting>
            <setting name="CallingCards" serializeAs="String">
                <value>1345</value>
            </setting>
            <setting name="TalkHomeMobileTopUps" serializeAs="String">
                <value>1349</value>
            </setting>
            <setting name="TalkHomeMobilePlans" serializeAs="String">
                <value>1350</value>
            </setting>
            <setting name="TalkHomeAppTopUps" serializeAs="String">
                <value>1352</value>
            </setting>
            <setting name="TalkHomeAppBundles" serializeAs="String">
                <value>1351</value>
            </setting>
            <setting name="CallingCardsTopUps" serializeAs="String">
                <value>1353</value>
            </setting>
        </TalkHome.Services.Properties.RootIds>
        <TalkHome.Services.Properties.Zabbix>
            <setting name="Host" serializeAs="String">
                <value>TalkHomeDev</value>
            </setting>
            <setting name="DebugExePath" serializeAs="String">
                <value>zabbix\zabbix_sender.exe</value>
            </setting>
            <setting name="Ip" serializeAs="String">
                <value>172.24.0.224</value>
            </setting>
            <setting name="ReleaseExePath" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="CriticalError" serializeAs="String">
                <value>critical.error</value>
            </setting>
            <setting name="DebugError" serializeAs="String">
                <value>debug.error</value>
            </setting>
            <setting name="SuccessfulCheckout" serializeAs="String">
                <value>checkout.success</value>
            </setting>
            <setting name="SuccessfulAppCheckout" serializeAs="String">
                <value>inappcheckout.success</value>
            </setting>
            <setting name="CorruptedAppTopUpUrl" serializeAs="String">
                <value>App top up page request had a corrupted Url</value>
            </setting>
            <setting name="AppUserNotFound" serializeAs="String">
                <value>App  Msisdn account not found</value>
            </setting>
            <setting name="AppUserNotVerifiedAtCheckout" serializeAs="String">
                <value>App Msisdn account not found at checkout</value>
            </setting>
            <setting name="CorruptedAddBundleUrl" serializeAs="String">
                <value>App bundle purchase request had a corrupted Url</value>
            </setting>
            <setting name="AppBundleNotFound" serializeAs="String">
                <value>App bundle not found at checkout</value>
            </setting>
            <setting name="EmptyAppBasket" serializeAs="String">
                <value>App empty basket at checkout</value>
            </setting>
            <setting name="GetMiPayCustomerFailed" serializeAs="String">
                <value>Call to Payment service GetCutomer failed</value>
            </setting>
            <setting name="WebApiLoginRequestFailed" serializeAs="String">
                <value>Login endpoint failed to respond</value>
            </setting>
            <setting name="SignatureVerificationException" serializeAs="String">
                <value>An invalid JWT signature was detected</value>
            </setting>
        </TalkHome.Services.Properties.Zabbix>
        <TalkHome.Services.Properties.Hosts>
            <setting name="LabWebApi" serializeAs="String">
                <value>https://api2.talkhome.co.uk</value>
            </setting>
            <setting name="ProdWebApi" serializeAs="String">
                <value>https://api2.talkhome.co.uk</value>
            </setting>
            <setting name="LabPayment" serializeAs="String">
                <value>https://payment.lab.talkhome.co.uk</value>
            </setting>
            <setting name="ProdPayment" serializeAs="String">
                <value>https://payment.talkhome.co.uk</value>
            </setting>
            <setting name="AddressIo" serializeAs="String">
                <value>https://api.getaddress.io/find</value>
            </setting>
            <setting name="IpInfo" serializeAs="String">
                <value>https://ipinfo.io</value>
            </setting>
            <setting name="LabAppApi" serializeAs="String">
                <value>https://lab2.talkhomeapp.com</value>
            </setting>
            <setting name="ProdAppApi" serializeAs="String">
                <value>https://api.talkhomeapp.com</value>
            </setting>
        </TalkHome.Services.Properties.Hosts>
        <TalkHome.Services.Properties.Creds>
            <setting name="AppApiBasicAuth" serializeAs="String">
                <value>440000000000:3302</value>
            </setting>
            <setting name="WebApiBasicAuth" serializeAs="String">
                <value>webdev:FenyCKbVsdVRQBf2</value>
            </setting>
            <setting name="AddressIoAuth" serializeAs="String">
                <value>api-key:2_Ua7jVDxk291udlLRiZ0Q5856</value>
            </setting>
            <setting name="IpInfoKey" serializeAs="String">
                <value>536fc3c409075b</value>
            </setting>
        </TalkHome.Services.Properties.Creds>
        <TalkHome.Services.Properties.URIs>
            <setting name="Authenticate" serializeAs="String">
                <value>/talkhome/useraccount/login</value>
            </setting>
            <setting name="ResetPasswordRequest" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/start</value>
            </setting>
            <setting name="ResetPasswordConfirm" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/confirm</value>
            </setting>
            <setting name="ResetPassword" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/change</value>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value>/rates/thm/standard/international/destinations</value>
            </setting>
            <setting name="MobileTopRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/international/top</value>
            </setting>
            <setting name="TalkHomeAppTopRates" serializeAs="String">
                <value>/rates/tha/nonuseraccount/international/top</value>
            </setting>
            <setting name="CallingCardsTopMinutes" serializeAs="String">
                <value>/rates/thcc/nonuseraccount/minutes/top</value>
            </setting>
            <setting name="CallHistoryPage" serializeAs="String">
                <value>/history/call</value>
            </setting>
            <setting name="CallHistoryTotalPages" serializeAs="String">
                <value>/history/call/totalpages</value>
            </setting>
            <setting name="AccountSummary" serializeAs="String">
                <value>/useraccount/summary</value>
            </setting>
            <setting name="SignUp" serializeAs="String">
                <value>/talkhome/useraccount/signup</value>
            </setting>
            <setting name="MailOrder" serializeAs="String">
                <value>/talkhome/sim/order/new</value>
            </setting>
            <setting name="CallingCardsMinutes" serializeAs="String">
                <value>/rates/thcc/nonuseraccount/minutes/all</value>
            </setting>
            <setting name="TalkHomeAppRates" serializeAs="String">
                <value>/rates/tha/nonuseraccount/international/all</value>
            </setting>
            <setting name="TalkHomeMobileUKRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/uk/all</value>
            </setting>
            <setting name="TalkHomeMobileInternationalRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/international/all</value>
            </setting>
            <setting name="AccountDetails" serializeAs="String">
                <value>/talkhome/useraccount/summary</value>
            </setting>
            <setting name="PaymentHistoryPage" serializeAs="String">
                <value>/history/payment</value>
            </setting>
            <setting name="PaymentHistoryTotalPages" serializeAs="String">
                <value>/history/payment/totalpages</value>
            </setting>
            <setting name="VerifyEmail" serializeAs="String">
                <value>/talkhome/confirm</value>
            </setting>
            <setting name="TalkHomeMobileRoamingRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/roaming/all</value>
            </setting>
            <setting name="GetAppUserByMsisdn" serializeAs="String">
                <value>/website/in-app-details</value>
            </setting>
            <setting name="GetCustomer" serializeAs="String">
                <value>/th/merchant/getcustomer</value>
            </setting>
            <setting name="AddProduct" serializeAs="String">
                <value>/talkhome/product</value>
            </setting>
            <setting name="SaveAppUserBillingAddress" serializeAs="String">
                <value>/useraccount/address</value>
            </setting>
            <setting name="StartPayment" serializeAs="String">
                <value>/th/payment/start</value>
            </setting>
            <setting name="PaymentRetrieve" serializeAs="String">
                <value>/th/payment/retrieve</value>
            </setting>
        </TalkHome.Services.Properties.URIs>
        <TalkHome.Services.Properties.Urls>
            <setting name="Authenticate" serializeAs="String">
                <value>/talkhome/useraccount/login</value>
            </setting>
            <setting name="ResetPasswordRequest" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/start</value>
            </setting>
            <setting name="ResetPasswordConfirm" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/confirm</value>
            </setting>
            <setting name="ResetPassword" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/change</value>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value>/rates/thm/standard/international/destinations</value>
            </setting>
            <setting name="MobileTopRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/international/top</value>
            </setting>
            <setting name="TalkHomeAppTopRates" serializeAs="String">
                <value>/rates/tha/nonuseraccount/international/top</value>
            </setting>
            <setting name="CallingCardsTopMinutes" serializeAs="String">
                <value>/rates/thcc/nonuseraccount/minutes/top</value>
            </setting>
            <setting name="CallHistoryPage" serializeAs="String">
                <value>/history/call</value>
            </setting>
            <setting name="CallHistoryTotalPages" serializeAs="String">
                <value>/history/call/totalpages</value>
            </setting>
            <setting name="AccountSummary" serializeAs="String">
                <value>/useraccount/summary</value>
            </setting>
            <setting name="SignUp" serializeAs="String">
                <value>/talkhome/useraccount/signup</value>
            </setting>
            <setting name="MailOrder" serializeAs="String">
                <value>/talkhome/sim/order/new</value>
            </setting>
            <setting name="CallingCardsMinutes" serializeAs="String">
                <value>/rates/thcc/nonuseraccount/minutes/all</value>
            </setting>
            <setting name="TalkHomeAppRates" serializeAs="String">
                <value>/rates/tha/nonuseraccount/international/all</value>
            </setting>
            <setting name="TalkHomeMobileUKRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/uk/all</value>
            </setting>
            <setting name="TalkHomeMobileInternationalRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/international/all</value>
            </setting>
            <setting name="AccountDetails" serializeAs="String">
                <value>/talkhome/useraccount/summary</value>
            </setting>
            <setting name="PaymentHistoryPage" serializeAs="String">
                <value>/history/payment</value>
            </setting>
            <setting name="PaymentHistoryTotalPages" serializeAs="String">
                <value>/history/payment/totalpages</value>
            </setting>
            <setting name="VerifyEmail" serializeAs="String">
                <value>/talkhome/confirm</value>
            </setting>
            <setting name="TalkHomeMobileRoamingRates" serializeAs="String">
                <value>/rates/thm/nonuseraccount/roaming/all</value>
            </setting>
            <setting name="GetAppUserByMsisdn" serializeAs="String">
                <value>/website/in-app-details</value>
            </setting>
            <setting name="GetCustomer" serializeAs="String">
                <value>/th/merchant/getcustomer</value>
            </setting>
        </TalkHome.Services.Properties.Urls>
        <TalkHome.Services.Properties.ErrorCodes>
            <setting name="dsar" serializeAs="String">
                <value />
            </setting>
        </TalkHome.Services.Properties.ErrorCodes>
        <TalkHome.Services.Properties.WebApiErrorCodes>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </TalkHome.Services.Properties.WebApiErrorCodes>
        <TalkHome.Services.Properties.Project>
            <setting name="AuthenticateUri" serializeAs="String">
                <value>/talkhome/useraccount/login</value>
            </setting>
            <setting name="ResetPasswordRequestUri" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/start</value>
            </setting>
            <setting name="ResetPasswordConfirmUri" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/confirm</value>
            </setting>
            <setting name="ResetPasswordUri" serializeAs="String">
                <value>/talkhome/useraccount/resetpassword/change</value>
            </setting>
            <setting name="DestinationsUri" serializeAs="String">
                <value>/rates/thm/standard/international/destinations</value>
            </setting>
            <setting name="MobileTopRatesUri" serializeAs="String">
                <value>/rates/thm/nonuseraccount/international/top</value>
            </setting>
            <setting name="TalkHomeAppTopRatesUri" serializeAs="String">
                <value>/rates/tha/nonuseraccount/international/top</value>
            </setting>
            <setting name="CallingCardsTopMinutesUri" serializeAs="String">
                <value>/rates/thcc/nonuseraccount/minutes/top</value>
            </setting>
            <setting name="CallHistoryPageUri" serializeAs="String">
                <value>/history/call</value>
            </setting>
            <setting name="CallHistoryTotalPagesUri" serializeAs="String">
                <value>/history/call/totalpages</value>
            </setting>
            <setting name="AccountSummaryUri" serializeAs="String">
                <value>/useraccount/summary</value>
            </setting>
            <setting name="SignUpUri" serializeAs="String">
                <value>/talkhome/useraccount/signup</value>
            </setting>
            <setting name="MailOrderUri" serializeAs="String">
                <value>/talkhome/sim/order/new</value>
            </setting>
            <setting name="CallingCardsMinutesUri" serializeAs="String">
                <value>/rates/thcc/nonuseraccount/minutes/all</value>
            </setting>
            <setting name="TalkHomeAppRatesUri" serializeAs="String">
                <value>/rates/tha/nonuseraccount/international/all</value>
            </setting>
            <setting name="TalkHomeMobileUKRatesUri" serializeAs="String">
                <value>/rates/thm/nonuseraccount/uk/all</value>
            </setting>
            <setting name="TalkHomeMobileInternationalRatesUri" serializeAs="String">
                <value>/rates/thm/nonuseraccount/international/all</value>
            </setting>
            <setting name="AccountDetailsUri" serializeAs="String">
                <value>/talkhome/useraccount/summary</value>
            </setting>
            <setting name="PaymentHistoryPageUri" serializeAs="String">
                <value>/history/payment</value>
            </setting>
            <setting name="PaymentHistoryTotalPagesUri" serializeAs="String">
                <value>/history/payment/totalpages</value>
            </setting>
            <setting name="VerifyEmailUri" serializeAs="String">
                <value>/talkhome/confirm</value>
            </setting>
            <setting name="TalkHomeMobileRoamingRatesUri" serializeAs="String">
                <value>/rates/thm/nonuseraccount/roaming/all</value>
            </setting>
            <setting name="GetAppUserByMsisdnUri" serializeAs="String">
                <value>/website/in-app-details</value>
            </setting>
            <setting name="GetCustomer" serializeAs="String">
                <value>/th/merchant/getcustomer</value>
            </setting>
        </TalkHome.Services.Properties.Project>
    </applicationSettings>
    <userSettings>
        <TalkHome.Services.Properties.Zabbix>
            <setting name="StartPaymentFailed" serializeAs="String">
                <value>App start payment call failed</value>
            </setting>
        </TalkHome.Services.Properties.Zabbix>
    </userSettings>
</configuration>